@tailwind base;
@tailwind components;
@tailwind utilities;

.ReactTags__tags {
    position: relative;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    padding: 0.5rem;
    margin: 10px 0 20px 0;
}

.ReactTags__clearAll {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background: #f88d8d;
    color: #fff;
    border: none;
}

/* Styles for the input */
.ReactTags__tagInput {
    border-radius: 2px;
    display: inline-block;
}
.ReactTags__tagInput input.ReactTags__tagInputField,
.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    height: 33px;
    margin: 0;
    font-size: 12px;
    border-radius: 15px;
    padding: 5px 15px;
    border: 1px solid #eee;
    min-width: 150px;
}

.ReactTags__editInput {
    border-radius: 1px;
}

.ReactTags__editTagInput {
    display: inline-flex;
}

/* Styles for selected tags */
.ReactTags__selected span.ReactTags__tag {
    border-radius: 15px;
    background: #edeff1;
    color: #4f4f4f;
    font-size: 12px;
    display: inline-block;
    padding: 5px 15px;
    margin: 0 5px;
}
.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}

/* Styles for suggestions */
.ReactTags__suggestions {
    position: absolute;
    font-size: 12px;
    background: white;
    border-radius: 15px;
}
.ReactTags__suggestions ul {
    list-style-type: none;
    width: 200px;
}
.ReactTags__suggestions li {
    background: #edeff1;
    border-bottom: 1px solid #ddd;
    padding: 5px 10px;
    margin: 0;
    border-radius: 15px;
}
.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 600;
}
.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #b7cfe0;
    cursor: pointer;
}

.ReactTags__remove {
    border: none;
    cursor: pointer;
    background: none;
    color: #4f4f4f;
    font-size: 15px;
    margin: 0;
    padding-left: 8px;
}
